<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | Handprint</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/dashboard.js"></script>
  </head>
  <body>

    <!--{{>navbar}}-->
    <nav> 
    <!-- Logo -->
    <div class="logo">
      <a href="/"><img src="/images/logo-white.png"></a>
    </div>

    <!-- Search -->
    <form name="search" method="POST" action="/search">
      <div class="search">
        <img src="/images/search-white.png">
        <input class="input-search" name="searchItem" placeholder="Search for users and organizations">
      </div>
    </form>

    {{#if account}}
    <div class="links">
      <div><a href="/dashboard">dashboard</a></div>
      <a href="/profile/{{ account.username}}">
        <div class="account">
        <div><h3>{{ account.name }}</h3></div>
        <div class="profile-picture" style="background-image:url('{{ account.profile_pic_url}}')">
        </div>
        <div><a href="/logout">logout</a></div>
        </div>
      </a>
    </div>
    {{else}}
    <div class="links" style="padding:15px">
      <div><a href="/">Home</a></div>
      <div><a href="/register">Become an Organization</a></div>
      <div><a href="/register">Sign Up</a></div>
      <div><a href="/login">Login</a></div>
    </div>
    {{/if}}
    </nav>

    <div id="feed">

      <div class="container">

          <div class="header">
            <h1>Welcome, {{ user.name }}</h1>
          </div>

          <div class="content">
            <div class="challenges">
              {{#each challenges}}
              <div class="challenge">
                <div class="challenge-points">
                  <h1>{{ points }}</h1>
                </div>
                <div class="challenge-info">
                  <p class="challenge-organization"><b><a href="/profile/{{ organization.username }}">{{ organization.name }}</b> posted:</a></p>
                  <b><p class="challenge-title">{{ title }}</p></b>
                  <p>{{ description }}</p>
                  <p class="challenge-location">{{ location }}</p>
                  <p class="challenge-date">{{ start_date }} &mdash; {{ end_date }}</p>
                  <div class="challenge-tags">
                    {{#each category_tags}}
                    <div><p># {{ this }}</p></div>
                    {{/each}}
                  </div>
                </div>
                <a name="{{ _id }}">
                  <div class="button challenge-complete{{#if completed}} completed{{/if}}" id="{{_id}}">
                      <p>{{#if completed}}completed{{else}}complete{{/if}}</p>
                  </div>
                </a>
              </div>
              {{else}}
              <h2>Your challenges feed is empty.</h2>
              {{/each}}
            </div>

          </div>
      </div>
        
    </div>
  </body>
</html>
