<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | Handprint</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/org-dashboard.js"></script>
  </head>
  <body>
  	<nav>

        <!-- Logo -->
        <div class="logo">
          <a href="/"><img src="/images/logo-white.png"></a>
          <a style="display:none" href="/"><img src="/images/logo-blue.png"></a>
        </div>

        <!-- Search -->
        <!--<div class="search">
          <img src="/images/search-white.png">
          <input placeholder="Search for a challenge">
        </div>-->

        <!-- Links -->
        <div class="links">
          <div><a href="/dashboard">dashboard</a></div>
          <a href="/users/{{ org.orgname }}"><div class="account">
            <div><h3>{{ org.name }}</h3></div>
            <div class="profile-picture" style="background-image:url('{{ org.profile_pic_url}}')">
            </div>
          <div><a href="/logout">logout</a></div>
        </div></a>
        </div>  

    </nav>


    <div id="feed">

      <div class="container">

          <div class="header">
            <h1>Welcome, {{ org.name }}</h1>
          </div>

          <div class="content">

            <div class="create-challenge">
              <div class="plus-button"><h1>+</h1></div>
              <div><h1>Post a challenge</h1></div>
            </div>

            <div class="challenge-form closed">
                <div class="form-element" style="display:block">
                  <h2>Title<span class="asterisk">*</span></h2>
                  <input type="text" class="challenge-title" placeholder="e.g. Plant a tree" required></input>
                </div>

                <div class="form-element" style="display:block">
                <h2>Description<span class="asterisk">*</span></h2>
                  <input type="text" class="challenge-description" placeholder="e.g. Contribute to nature." required></input>
                </div>

                <div class="form-element">
                  <h2>Start Date<span class="asterisk">*</span></h2>
                  <input type="date" class="challenge-start-date" min="2017-01-22" required></input>
                </div>

                <div class="form-element">
                  <h2>End Date<span class="asterisk">*</span></h2>
                 <input type="date" class="challenge-end-date" min="2017-01-22" required></input>
                </div>

                <div class="form-element" style="display:block">
                  <h2>Location<span class="asterisk">*</span></h2>
                  <input type="text" class="challenge-location" placeholder="e.g. Boston Public Gardens" required></input>
                </div>

                <div class="form-element">
                  <h2>Award Points<span class="asterisk">*</span></h2>
                  <input type="number" class="challenge-points" placeholder="e.g. 100" required></input>
                </div>

                <div class="form-element">
                  <h2>Category Tags</h2>
                  <input type="text" class="challenge-tags" placeholder="e.g. kids, art, nature"></input>
                </div>

                    <!--Challenge Title
                    <input type="text" placeholder="Title" name="title" required><br>

                    Start Date<br>
                    <input type="text" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" placeholder="MM/DD/YYYY" name="start" required><br>

                    End Date<br>
                    <input type="text" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" placeholder="MM/DD/YYYY" name="end" required><br>

                    Description<br>
                    <input type="text" placeholder="Description" name="description" required> <br>

                    Location<br>
                    <input type="text" placeholder="City, State" name="location" required> <br>

                    ZIP code<br>
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="01234" name="zip" required> <br>

                    Points<br>
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Points" name="points" required> <br>-->

                  <div class="button submit" value="submit"><h2>post</h2></div>
              <!--</form>-->
            </div>

            <div class="challenges">
              {{#each challenges}}
              <div class="challenge">
                <div class="challenge-points">
                  <h1>{{ points }}</h1>
                </div>
                <div class="challenge-info">
                  <b><p class="challenge-title">{{ title }}</p></b>
                  <p>{{ description }}</p>
                  <p class="challenge-location">{{ location_name }}</p>
                  <p class="challenge-date">{{ start_date }} &mdash; {{ end_date }}</p>
                  <div class="challenge-tags">
                    {{#each category_tags}}
                    <div><p># {{ this }}</p></div>
                    {{/each}}
                  </div>
                </div>
              </div>
              {{else}}
              <h3>You haven't posted any challenges yet.</h3>
              {{/each}}
            </div>

          </div>
      </div>
		</div> 		

  </body>
</html>
