<!DOCTYPE html>
<html>
  <head>
    <title>{{ user.name }} | Handprint</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/profile.js"></script>
  </head>
  <body>

  	{{>navbar}}

  	<div class="container">

  		<div id="profile">
  		
	  		<div class="profile-header" style="background: linear-gradient(45deg, rgba(61, 158, 223, 0.8), rgba(16, 102, 213, 0.8)), url('{{ user.cover_pic_url }}');background-size: cover;">
	  			<div class="container">
		  			<div class="profile-picture" style="background-image:url('{{ user.profile_pic_url}}')"></div>
		  			<div class="info">
		  				<h1 class="heavy">{{ user.name }}</h1>
		  				<h3 class="user-location">{{ user.location }}</h3>
			  			<p class="user-bio">{{ user.bio }}</p>
			  			{{#if notSelf}}
			  				<div class="button {{#if following}}unfollow{{else}}follow{{/if}}" name="{{user._id}}">{{#if following}}unfollow{{else}}follow{{/if}}</div>
			  			{{/if}}
		  			</div>
		  			<div class="stats">
		  				<h2 class="user-level"><b>Level {{ user.level }}</b></h2>
		  				<h3 class="user-points">{{ user.points }} points</h3>
		  			</div>
		  		</div>
	  		</div>

	  		<div class="content">

			  	<div class="challenges">
		  			<h2>Completed Challenges</h2>
		  			{{#each challenges}}
		  			<div class="challenge">
		  				<div class="challenge-points">
		  					<h1>+ {{ points }}</h1>
		  				</div>
		  				<div class="challenge-info">
		  					<b><p class="challenge-title">{{ title }}</p></b>
		  					<p>{{ description }}</p>
		  					<p class="challenge-location">{{ location }}</p>
		  					<p class="challenge-organization">posted by <a href="/profile/{{ organization.username }}">{{ organization.name }}</a></p>
		  					<p class="challenge-date">{{ start_date }} &mdash; {{ end_date }}</p>

		  					<div class="challenge-tags">
		  						{{#each category_tags}}
		  						<div><p># {{ this }}</p></div>
		  						{{/each}}
		  					</div>
		  				</div>
		  			</div>
		  			{{else}}
		  			<h3>{{ user.name }} has not yet completed any challenges.</h3>
		  			{{/each}}
		  		</div>

		  		{{# if friends }}

		  		<div class="friends">
		  			<h2>Friends</h2>
		  			{{#each friends}}
		  			<a href="/profile/{{username}}"><div class="friend" style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('{{ profile_pic_url }}');background-size:cover">
		  				<b><p>{{ name }}</p></b>
		  			</div></a>
		  			{{/each}}
			  	</div>

			  	{{/if}}

	  		</div>
		</div>
  		
  	</div>

  </body>
</html>
